
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dz-button {
    background: #eeeeee;
    border: none;
    padding: 10px 20px;
}