@model TecnoSphere.Models.ClientLogo
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Logo</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Add Logo</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <form asp-action="Create" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Name">Client Name : <span class="text-danger">*</span></label>
                                <input type="text" asp-for="LogoTitle" class="form-control" placeholder="Client Name">
                                <span asp-validation-for="LogoTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Name">Upload Client Logo : <span class="text-danger">*</span></label>
                                <input type="file" asp-for="LogoImage" class="form-control" placeholder="Client Logo">

                                <span asp-validation-for="LogoImage" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-warning" asp-action="Index">Back to Page</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
}
